.first_view{
  height : 100vh;
  display : flex;
  flex-direction : column;  
  justify-content : space-start;
}

.services{
  display : flex;
  flex-flow : row wrap;
  justify-content : space-evenly;
  align-items : center;
  margin-top : 200px;
}