.button{
  font-size : 1.2em; 
  padding : 0 15px;
  color : #fff;
  height : 40px;
  display : flex;
  align-items : center;
  border-radius : 8px;
  cursor : pointer;
  margin : 10px 0;
  border : none;
}

.button:hover:not([disabled]){
  color : #6772E5;
  border : 3px #6772E5 solid;
  background-color : #fff;  
  box-sizing : border-box;
}

.send{
    background-color : #6772E5;
}

.prescription .button:hover{
    background-color : #fff;
}

.new, .save{
    background-color : #059862;
}

  .danger{
    background-color : #EE0202;
  }

  .button[disabled]{
    cursor : not-allowed;
    background: #EBECED;
  }