.prescription .button, .new .button{
  font-size : 1.2em; 
  padding : 0 2px;
  color : #fff;
  height : 100%;
  display : flex;
  align-items : center;
  background-color : #6772E5;
  border-radius : 8px;
}

.prescription .button:hover, .new .button:hover{
  color : #6772E5;
  border : 3px #6772E5 solid;
  background-color : #fff;  
  box-sizing : border-box;
}

