.navbutton{
  margin : 0 7px ; 
  padding : 0 2px;
  color : #fff;
  height : 100%;
  display : flex;
  align-items : center;
  font-family : 'Varela';
  text-decoration : none;
}

.navbutton:hover  ,.active{
  background-color : #fff;
  color : #6772E5;
  transform : scale(1.2)
}

