@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');

.presentation{
  display : flex;
  justify-content : center;
  align-items: center;
  margin-bottom : 100px;
  font-family : 'Mitr';
}

.presentation_text{
  width : 35%;
}

.presentation_text p{
  font-size : 65px;
  color : #6772E5;
}

.presentation_image{
  width : 55%;
}
  
.presentation_image img{
  width : 100%;
  height : auto;
}

