.prescription_write{
  width : 40%;
  height : 90%;
}

.prescription_write legend{
  font-size : 30px;
  color : #6772E5;
}

.prescription .prescription_text{
  width : 40%;
  height : 90%;
  display : flex;
  flex-direction : column;
  justify-content : center;
}

textarea{
  border : #6772E5 3px solid;
  border-radius : 8px;
  box-sizing : border-box;
  resize : none;
  width : 100%;
  height : 280px;
  overflow : scroll;
  padding : 15px;
  font-size : 16px;
}

.submit{
  height : 40px;
  width : 100%;
  color : #fff;
}

  .new{
    width : 100px;
    height : 40px;
  }

  .qrbox{
    background-color : #fff;
    padding : 15px;
  }

.prescription_text p{
  font-family : 'Actor';
}
  
.prescription_text p:nth-child(1){
  font-size : 30px;
  color : #fff;
  background-color : #6772E5;
}

.prescription_text p:nth-child(2){
  font-size : 23px;
  color : #6772E5;
}