.service{
  width : 250px;
  height : 350px;
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  border : none;
}

.service:hover{
  border : #6772E5 3px solid;
  border-radius : 8px;
  box-sizing : border-box;
}
.service p{
  font-size : 16px;
  color : #6772E5;
  visibility : hidden;
}

.service img{
  width : 100%;
  height : auto;
}

.service:hover p{
  visibility : visible;
  margin-bottom : 5px; 
}